

API_KEY=123
PORT=3000

DATABASE_HOST=eduargam-des.c11fqquocnvk.us-east-1.rds.amazonaws.com
DATABASE_PORT=3306
DATABASE_USER=admin
DATABASE_PASSWORD=TNHheEcDw0QvMqKnF3qx
DATABASE_NAME=eduargam-des

#MYSQL_HOST=eduargam-des.c11fqquocnvk.us-east-1.rds.amazonaws.com
#MYSQL_DATABASE=eduargam-des
#MYSQL_PORT=3306
#MYSQL_USER=eduargam-des
#MYSQL_PASSWORD=TNHheEcDw0QvMqKnF3qx

POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_HOST=

TYPEORM_CONNECTION = mysql
TYPEORM_HOST = eduargam-des.c11fqquocnvk.us-east-1.rds.amazonaws.com
TYPEORM_USERNAME = eduargam-des
TYPEORM_PASSWORD = TNHheEcDw0QvMqKnF3qx
TYPEORM_DATABASE = eduargam-des
TYPEORM_PORT = 3306
TYPEORM_SYNCHRONIZE = true
TYPEORM_LOGGING = true
TYPEORM_ENTITIES = src/**/*.entity.ts

TYPEORM_MIGRATIONS = src/database/migrations/*.ts
TYPEORM_MIGRATIONS_DIR = src/database/migrations
TYPEORM_MIGRATIONS_TABLE_NAME = migrations

JWT_SECRET=eduargamProj
